body {
  font-weight: normal;
  font: 1em 'Lucida Grande', sans-serif;
  background: #aaa;
}

.clear {
  clear: both;
}

.center_container {
  margin: auto;
}

.container {
  width: 710px;
  margin: auto;
}

#main {
  margin: 10px;
  padding: 20px;
  background: #FFF;
}

.round {
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

ul {
  list-style-type: none;
  padding: 0 10px;
}

.poke_img {
  width: 80px;
  height: 80px;
}

