#pokedex {
  position: relative;
}

#pokedex .pokelist li {
  margin: auto;
}
.pokedex_prev {
  position: absolute;
  left: 0px;
  color: #fff;
}

.pokedex_next {
  position: absolute;
  right: 0px;
  top: 0px;
  color: #fff;
}

.pokedex_index {
  background: #faa;
  padding: 8px;
}

.pokedex_index a {
  color: #08f;
  text-decoration: none;
}

#pokemon_not_found {
  padding: 5px;
}

