.pokedex_entry {
  position: relative;
  width:  300px;
  height: 100px;
  background: #faa;
}

.pokedex_entry ul {
  position: absolute;
  top: 0px;
  left: 100px;
  margin: 10px 0;
  height: 100px;
}

.pokedex_entry .poke_name {
  font-weight: bold;
}

.pokedex_index {
  background: #faa;
  padding: 8px;
}

.pokedex_index a {
  color: #08f;
  text-decoration:none
}

#pokemon_not_found {
  padding: 5px;
}
