ul.pokelist li.poke_elem {
  position: relative;
  width:  300px;
  height: 100px;
  background: #faa;

  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;

  margin-bottom: 10px;
}

ul.pokelist li.poke_elem .poke_img {
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 10px;
}

ul.pokelist li.poke_elem .poke_text {
  position: absolute;
  top: 0px;
  left: 100px;
  margin: 10px 0;
  height: 80px;
  width: 170px;
  position: absolute;
  font-size: 10px;
}

ul.pokelist li.poke_elem .poke_text h2 {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}

ul.pokelist li.poke_elem .poke_text p {
  margin: 0;
}

.hp {
  font-size: 2em;
}

.high_hp {
  color: green;
}

.medium_hp {
  color: yellow;
}

.low_hp {
  color: red;
}
