{% extends "base.html" %}
{% load pokemon_sprite %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="/static/css/poke_img.css" />
<link rel="stylesheet" type="text/css" href="/static/css/pokedex.css" />
<link rel="stylesheet" type="text/css" href="/static/css/pokelist.css" />
{% endblock %}


{% block title %} Pokedex - {{ pokemon.name }} {% endblock %}

{% block content %}
<div id="pokedex">
  {% if prev %}
  <a href="{% url pokedex.views.lookup prev|lower %}" class="pokedex_prev">
      <img src="/static/img/pokedex_prev.png" alt="{{ prev }}" />
    </a>
  {% endif %}

  <ul class="pokelist">
    <li class="poke_elem">
      <div class="poke_img p_img_{{ pokemon|sprite }}"></div>
      <div class="poke_text">
        <h2><span class="poke_name" > {{ pokemon.name }} </span> </h2>
        <p>{{ pokemon.description }}</p>
      </div>
    </li>
  </ul>

  {% if next %}
    <a href="{% url pokedex.views.lookup next|lower %}" class="pokedex_next">
      <img src="/static/img/pokedex_next.png" alt="{{ next }}" />
    </a>
  {% endif %}
  <div class="clear" />
</div>
{% endblock %}

