{% extends "base.html" %}
{% load pokemon_sprite %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="/static/css/poke_img.css" />
<link rel="stylesheet" type="text/css" href="/static/css/poke_battle.css" />
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
  function makeMove(move_num)
  {
    $.ajax({  url: "{% url battle.views.ajax_move %}",
              type: 'POST',
              data: {
                battle_id: {{ battle.id }},
                move: move_num,
              },
              success: function(data) { window.location.reload() },
              error: function(xhr, msg, err) { alert(msg + "|" + err); }
           });
  }

  $("#move1").live("click", function() { makeMove('1'); });
  $("#move2").live("click", function() { makeMove('2'); });
</script>
{% endblock %}

{% block title %} Poke Battle!{% endblock %}

{% block content %}

<div id="battle_container">
	<div id="poke_display" class="round">
    <div class="col_left">
      <div class="center_container">
        <h2> {{ player.name }}</h2>
        <div class="poke_img p_img_{{ player.current_pokemon|sprite }}"></div>
        <p id="player_hp">HP: 
          <span class="high_hp">
            {{ player.current_pokemon.hp_left }}/{{ player.current_pokemon.max_hp}}
          </span>
        </p>
      </div>
    </div>
    <div class="col_center">
      <div class="center_container">
        <h3> VS </h3>
      </div>
    </div>
    <div class="col_right">
      <div class="center_container">
        <h2> {{ opponent.name }}</h2>
        <div class="poke_img p_img_{{ opponent.current_pokemon|sprite }}"></div>
        <p id="opponent_hp">HP:
          <span class="high_hp">
            {{ opponent.current_pokemon.hp_left }}/{{ opponent.current_pokemon.max_hp}}
          </span>
        </p>
      </div>
    </div>
	</div>
  <div id="poke_moves">
    <a id="move1" href="#" class="round move_btn">{{ player.current_pokemon.move_1 }}</a>
    <a id="move2" href="#" class="round move_btn">{{ player.current_pokemon.move_2 }}</a>
  </div>
  <div class="center_container">
    <textarea rows="10" readonly="true">{{ battle_history }}</textarea>
  </div>
</div>

{% endblock %}

