<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/static/css/common.css" />
        {% block stylesheets %}{% endblock %}
        <script type="text/javascript" src="/static/js/jquery-1.3.2.js"></script>
        {% block javascripts %}{% endblock %}
        <title> {% block title %}{% endblock %}</title>
    </head>
    <body>
        <div class="container">
          <div id="main" class="round">
            {% block content %}{% endblock %}
          </div>
        </div>
    </body>
</html>
