{% extends "base.html" %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="/static/css/poke_img.css" />
<link rel="stylesheet" type="text/css" href="/static/css/pokedex.css" />
{% endblock %}


{% block title %} Pokedex - {{ pokemon.name }} {% endblock %}

{% block content %}
<div class="pokedex_entry round">
  {% if found %}
    <div class="poke_img p_img_{{ pokemon.sprite.row }}_{{ pokemon.sprite.col }}"></div>
    <ul>
        <li><span class="poke_name" > {{ pokemon.name }} </span> </li>
    </ul>
  {% else %}
    <div id="pokemon_not_found">
      Sorry, Could not find the pokemon "{{ name }}"
    </div>
  {% endif %}
</div>
{% endblock %}

