{% extends "base.html" %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="/static/css/poke_img.css" />
<link rel="stylesheet" type="text/css" href="/static/css/pokedex.css" />
{% endblock %}


{% block title %} Pokedex - {{ pokemon.name }} {% endblock %}

{% block content %}
{% if found %}
  <div id="pokedex">
    {% if pokemon.prev %}
      <a href="/poke/pokedex/{{ pokemon.prev|lower }}" class="pokedex_prev">
        <img src="/static/img/pokedex_prev.png" alt="{{ pokemon.prev }}" />
      </a>
    {% endif %}

    <div class="pokedex_entry round">
      <div class="poke_img p_img_{{ pokemon.sprite.row }}_{{ pokemon.sprite.col }}"></div>
      <div class="poke_text">
        <h2><span class="poke_name" > {{ pokemon.name }} </span> </h2>
        <p>{{ pokemon.description }}</p>
      </div>
    </div>

    {% if pokemon.next %}
      <a href="/poke/pokedex/{{ pokemon.next|lower }}" class="pokedex_next">
        <img src="/static/img/pokedex_next.png" alt="{{ pokemon.next }}" />
      </a>
    {% endif %}
    <div class="clear" />
  </div>
{% else %}
  <div class="pokedex_entry round">
    <div id="pokemon_not_found">
      Sorry, Could not find the pokemon "{{ name }}"
    </div>
  </div>
{% endif %}
{% endblock %}

